* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}
.search-input {
  background: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 38px;
  color: #a5a5a5;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 34px;
}
.nav {
  margin-right: 44px;
  margin-left: auto;
}
.nav-link {
  text-decoration: none;
  color: #363636;
  font-size: 18px;
  line-height: 21px;
  margin-right: 18px;
}
.button-group {
  height: 100%;
}
.sign-up {
  color: #5671f6;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  border: none;
  padding: 0 34px;
  border-left: 1px solid #d4d4d4;
}
.log-in {
  font-size: 18px;
  line-height: 21px;
  background-color: #5671f6;
  color: #fff;
  border: none;
  padding: 0 50px;
}
.button {
  height: 100%;
  cursor: pointer;
}
.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}
.container {
  max-width: 1130px;
  margin: auto;
}
.film {
  padding: 80px 0;
  border-bottom: 1px solid #d4d4d4;
}
.film-wrapper {
  display: flex;
}
.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 358px;
}
.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0 0 5px 5px;
  padding: 25px 0;
  cursor: pointer;
}
.trailer-button-icon {
  margin-right: 14px;
}
.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}
.film-subtitile {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}
.film-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 514px;
  margin-bottom: 50px;
}
.about-film {
  display: flex;
  margin-bottom: 50px;
}
.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
.left-side {
  margin-right: 40px;
}
.rating {
  display: flex;
  align-items: center;
}
.fim-rating-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;
  color: #5671f6;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 12px;
}
.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}
.rating-text-bold {
  font-weight: bold;
}
.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}
.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.section-title {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: #a5a5a5;
}
.section-title.active {
  color: #363636;
  font-weight: 900;
  margin-right: 30px;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}
.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.name {
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}
.en-name {
  color: #a5a5a5;
}
.news {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-news-title {
  font-weight: 900;
  color: #000;
  margin-bottom: 65px;
}
.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px 30px 36px 30px;
  border-radius: 5px;
}
.news-date {
  font-size: 14px;
  line-height: 16px;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-top: 14px;
}
